@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn {
    text-align: center;
    place-self: center;
    font-size: 1.5em;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid grey;
    color: grey;
}

.btn:hover {
    animation: anima 2s .2s alternate forwards ease-in-out;
    border: 2px solid black;
    color: black;
}

@keyframes anima {
    0% {
        transform: translateY(0px);
        box-shadow: 0px 0px 0px grey;
    }
    25% {
        transform: translateY(-20px);
        box-shadow: 0px 20px 0px grey;
    }
    50% {
        transform: translateY(20px);
        box-shadow: 0px -20px 0px grey;
    }
    100% {
        transform: translateY(0px);
        box-shadow: 0px 0px 0px grey;
    }
}

.box {
    display: grid;
    width: 50vw;
    height: 30vh;
    place-self: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 0px lightgray;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
    background-color: grey;
}

/*  CRIE BOTÃO QUE PISCA LED  */