@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #d3e2ff;
    font: normal 1.3em monospace;
}

header{
    display: flex;
    flex-direction: column;
    padding: 20px 0px 30px 20px;
}

#tit {
    justify-content: left;
    margin-left: 30px;
    padding: 10px 0px;
}

#menubolder {
    font: bolder 1em monospace;
}

menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-top: 10px;
}

menu > a {
    text-decoration: underline 1px;
    color: #551a8b;
    margin-left: 9px;
}

main {
    padding: 10px;
    margin: auto;
    background-color: rgba(116, 112, 112, 0.719);
}

h3 {
    padding: 10px 0px;
    color: white;
}


picture {
    display: flex;
    direction: ltr;
}

img {
    width: 300px;
    height: 150px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.055);
    margin: 10px;
    border-radius: 15px;
}

img:hover {
    width: 300px;
    height: 158px;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 1, 3deg);
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    box-shadow: 3px 3px 9px #551a8b;
}


a:hover {
    text-decoration: underline 3px ;
}

.vid {
    display: flex;
    justify-content: center;
    align-items: center;
}


script {
    width: 50%;
    height: 50%;
}



/* CONFIGURAR MAS MOSTRAR VIDEO QUANDO LICADO IFRAME#VID