@charset "UTF-8";

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body, html {
    background: linear-gradient(to bottom, purple, #b43bb4, #a070c7cc) no-repeat;
}

main {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: auto;
}

form {
    width: 300px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.226);
}

form > img {
    display: block;
    width: 100px;
    margin: auto;
    margin-bottom: -20px;
    border-radius: 50%;
    border: 1px solid rgba(61, 53, 53, 0.308);
    pointer-events: none;
    transform: translate(0px, -70px);
} 

label {
    display: none;
    text-align: center;
    padding: 5px;
}

input {
    display: block;
    margin: auto;
    margin-bottom: 5px;
    width: 80%;
    height: 40px;
    padding-left: 40px;
    border: none;
} input#iemail {
    background: white url('../images/icone-usuario.png') no-repeat 10px;
    border-radius: 5px;
} input#isenha {
    background: white url('../images/icone-cadeado.png') no-repeat 10px;
    border-radius: 5px;
} input.submit {
    padding: 0px;
    border-radius: 5px;
    color: gray;
    background-color: white;
    font-size: 1.1em;
} input.submit:hover {
    background-color: rgba(218, 133, 63, 0.767);
    color: white;
    transition-duration: .5s;
}