@charset "UTF-8";   /*  FORMAT OCELULAR  */

@media screen and (max-width: 768px) {

    body {
        width: 95vw;
    }

    main {
        width: 95vw;
    }

    nav > ul {
        margin-left: 0px;
    }


    div.item-1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 6;
        margin: 5px;
        max-width: 100%;
        max-height: 380px;
    }
    
    div.conteudo {
        grid-column-start: 0;
        grid-column-end: 1;
        grid-row-start: 0;
        grid-row-end: 3;
        margin: 5px;
    }
    
    div.item-3 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 6;
        grid-row-end: 8;
    
        margin: 5px;
        max-width: 220px;
        max-height: 380px;
    }

    /* QUEBRA DA LISTA */
    .item-1 > ul {
        list-style-type: none;
        columns: 2;
        width: 280px;
    }

    h2.tit-sections {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        text-indent: 5px;
    } h2.tit-sections > span {
        vertical-align: middle;
    }
    
}