@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #8b0025;
    --cor1: #b30030;
    --cor2: #e10039; 
    --cor3: #294970;
    --cor4: #b3003044;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: white url('../images/fundo.png') repeat-x;
}

header {
    max-width: 70%;
    height: 70px;
    margin: auto;
    background: url('../images/detalhe-topo.png') center right no-repeat;
    background-size: contain;
} header > h1 {
    width: 152px;
    height: 66px;
    background: url('../images/logo.png');
    color: transparent;
    margin-top: 20px;
    z-index: 0;
}

/* MENU  */

nav {
    position: sticky;
    top: -1px;
    margin-top: 40px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.027);
}

nav > ul {
    margin-left: 80px;
}

nav > ul > li {
    display: inline-block;
    padding: 10px 0px;
    margin: 0px -7px;
} 

nav > ul > li > a {
    color: black;
    text-decoration: none;
    margin: 5px;
    padding: 10px 10px;
} nav > ul > li > a:hover {
    background-color: var(--cor4);
}

#home ul a.home,
#brasil ul a.brasil,
#internacional ul a.internacional {
    background-color: var(--cor2);
    color: white;
    cursor: default;
}

/* CORPO DO SITE  */

main {
    display: grid;
    grid-template-columns: 2fr auto;
    grid-template-rows: auto auto auto auto;
    width: 84vw;
    margin: 65px auto;
    border: 1px solid blue;
}

main > div {
    border: 1px solid purple;
    padding: 5px;
}

div.item-1 {
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 5px;
    max-width: 220px;
    max-height: 380px;
}

div.conteudo {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    margin: 5px;
}

div.item-3 {
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 6;

    margin: 5px;
    max-width: 220px;
    max-height: 380px;
}

/*  personalização do conteudo */
/* ENTREVISTAS */

.item-1 > ul {
    list-style-type: none;
    width: 130px;
}

main > div > h2 {
    padding-bottom: 10px;
} div > h2 > span { /* icon  */
    vertical-align: bottom;
    padding-left: 50px;
    color: var(--cor3);
}

.item-1 > ul > li {
    padding-top: 5px;
}

.item-1 > ul > li > a {
    text-decoration: none;
    color: black;
} .item-1 > ul > li > a:hover {
    text-decoration: underline;
    color: var(--cor3);
}

/* Personalização do CONTEUDO -NOTICIAS */


/* links gerais */
a {
    text-decoration: none;
    color: black;
}

a.mais {
    text-decoration: underline;
    color: var(--cor3);
}

div.conteudo {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.conteudo > div.primario {
    display: block;
    width: 280px;
    height: 280px;
    padding: 10px;
}

div.conteudo > div.secundario {
    display: block;
    width: 280px;
    height: 280px;
    padding: 10px;
}

div.conteudo h2.tit-noticias {
    padding: 5px 0px;
    font-size: 1.1em;
}

div.conteudo img.img-capa {
    display: block;
    width: 100%;
    border-radius: 5px;
}

div.conteudo p.legenda-capa {
    font-size: .8em;
    padding: 5px;
}