@charset "UTF-8";

:root {
    --cor1: #159cb8;  --cor2: #22b4d1;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    list-style: none;
    background-image: linear-gradient(to top, #0e758a, #159cb8);
    padding: 10px;
}

ul > li {
    display: inline;
    border-left: 1px solid rgba(8, 0, 0, 0.134);
    padding: 10px;
    margin: 0px;
}  ul > li:hover {
    background-color: var(--cor2);
    transition-duration: .3s;
    color: var(--cor1);
}

ul > li > a {
    color: white;
    text-decoration: none;
}

ul > li.primer {
    border: none;
}