@charset "UTF-8"; 

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

ul a {
    display: block;
    width: 195px;
    height: 40px;
    border: 1px solid white;
    background: #f7b600 url('../images/menu.png') no-repeat;
    color: white;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    border-radius: 5px;
    border: 1px solid #f7b600;
}

ul a:hover {
    width: 200px;
    background-position: right bottom;
    background-color: #f99200;
    transition-duration: .3s;
}

#home .home,
#noticias .noticias,
#tecnologia .tecnologia,
#economia .economia,
#saude .saude {
    width: 200px;
    border: none;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.188);
    background-position: right bottom;
    background-color: #f99200;
    transform: translate(5px, -2px);
}