@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: lightblue;
}

main {
    width: 80vw;
    margin: auto;
}

.marks {
    background-color: rgba(144, 177, 238, 0.616);
    padding: 8px;
    border-radius: 5px;
}