@charset "UTF-8";

/* APARELHO EM PÉ*/

body {
    background-image: url(../images/cev-portrait.jpg);
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}