@charset "UTF-8";

@media (min-width: 300px) and (max-width: 600px) {
    main {
        width: 99vw;
    }

    /*disposição dos intes na tela MOBILE */
    .itemEncarte {
        width: 105px;  /* emova essa linha para duas colunas  */
        margin: 5px 5px 65px 5px;
        /*margin: 10px 10px 65px 10px;    margin para duas colunas*/
    }

    /* 
    itens encarte 3 fileiras 

        .itemEncarte {
            width: 105px;
            margin: 5px 5px 65px 5px;
            border: 1px solid black;
        }
    
    */

    .imgProduto {
        width: 95%;
    }

    .nomeProduto {
        margin-bottom: 2px;
    }

    .precoProduto {
        background-color: rgba(255, 255, 0, 0.925);
        border-end-end-radius: 20px;
        font-weight: bold;
        text-align: right;
        font-size: 1.6em;
        padding-right: 4px;
    }

    /*disposição dos intes na tela */


    #menuFlutuante {
        padding: 3px;
        width: 180px;
        background-color: rgba(255, 255, 255, 0.836);
    }

    #menuFlutuante img {
        width: 50px;
        height: 49px;
        margin-left: 4px;
        border-radius: 12px;
        background-color: #40054709;
    }

}