@charset "UTF-8";

* {  /* CONFIG GLOBAL */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root { /* VARIAVEIS PALETA DE CORES */
    --cor0:#15944C; --cor1: #A751E0;
}

/* HEADER*/
header {
    background-color: var(--cor1);
    text-align: center;
    color: white;
} 

/*  PERSONALIZAÇÃO BOOTOES MENUS BT */
#conteudoNavbarSuportado ul li {
   border: 1px solid rgba(255, 255, 255, 0.041);
   border-radius: 10px;
   
} #conteudoNavbarSuportado ul li:hover {
    background-color: #2ab6662d;
}

#banner{ /* icone sacola */
    height: 40px;
    user-select: none;
    margin: auto;
    border-radius: 10px;
    margin-right: 5px;
    border: .2px solid #ffffff09;
    box-shadow: 1px 1px 0px #00000013;
} #banner:hover {
    transform: rotateX(20deg);
    transition-duration: .5s;
    box-shadow: 1px -3px 0px rgba(0, 0, 0, 0.175);
}  /* fim icone */


#validadePromo{ /* validade da promoçao */
    margin-top: 64px;
    text-align: center;
    user-select: none;
} #validadePromo p {
    padding: 5px;
}
/* FIM HEADER */


/*  NOVO MENU FLUTUANTE */
#menuFlutuante {
    bottom: 7px;
    padding: 3px;
    width: 145px;
    border-radius: 22px;
    background-color: #ffffffad;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.219);
} #menuFlutuante img {
    width: 40px;
    height: 39px;
    padding: 8px;
    margin-left: 2px;
    border-radius: 12px;
    background-color: #40054711;
} #menuFlutuante img:hover {
    background-color: #a751e028;
    transition-duration: .2s;
}

#whats {
    text-decoration: none;
    color: rgba(48, 48, 48, 0.603);
    padding: 10px;
}

#map {
    text-decoration: none;
        color: rgba(48, 48, 48, 0.603);
        padding: 10px;
} /* FIM MENU FUTUANTE */


/* ANIMAÇAO MENU FLUTUANTE AO / ABA MENU   */
@keyframes corCard {
   0% {
    background-color: rgba(255, 255, 255, 0.11);
   } 
   10% {
    background-color: rgba(255, 255, 255, 0.100);
   } 
   20% {
    background-color: rgba(255, 255, 255, 0.200);
   } 
   30% {
    background-color: rgba(255, 255, 255, 0.300);
   } 
   40% {
    background-color: rgba(255, 255, 255, 0.400);
   } 
   50% {
   background-color: rgba(255, 255, 255, 0.500);
   } 
   60% {
   background-color: rgba(255, 255, 255, 0.600);
   } 
   70% {
   background-color: rgba(255, 255, 255, 0.700);
   } 
   80% {
   background-color: rgba(255, 255, 255, 0.800);
   } 
   90% {
   background-color: rgba(255, 255, 255, 0.900);
   } 
   100% {
   background-color: white;
   } 
}

#showConfig {
    position: fixed;
    bottom: 10px;
    z-index: 3;
    display: none;
    width: 300px;
    height: 150px;
    margin-bottom: 55px;
    border-radius: 15px;
    animation: corCard .1s forwards;
}
/*FIM  ANIMAÇÃO MENU FLUTUANTE / ABA MENU  */


/* BODY */

body {
    background-color: white;
}
main {
    width: 85vw;
    margin: auto;
}


.itemEncarte {  /* div que contendo img, nome e preço */
    width: 140px;
    height: 130px;
    margin: 30px 16px 50px 16px;
    margin-bottom: 65px;
    padding: 5px;
}

.imgProduto { /* controle img dos itens  */
    width: 100%;
}

.nomeProduto {  /* config nome produto */
    margin-bottom: 2px;
}

.precoProduto { /* preço do prduto  */
    background-color: rgba(255, 255, 0, 0.925);
    border-end-end-radius: 20px;
    font-weight: bold;
    text-align: right;
    font-size: 1.8em;
    padding-right: 4px;
}
/* FIM BODY */


/* FOOTER */
footer {
    font-size: .8em;
    text-align: center;
    margin-top: 60px;
    color: white;
}
/* FIM FOOTER */
