@charset "UTF-8";

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --cor1: #A751E0; --cor2: #15944C;
}

/* HEADER*/
header {
    background-color: var(--cor1);
    text-align: center;
    color: white;
    margin-bottom: 20px;
} header > h1 {
    font-size: 3em;
    margin: 10px;
    padding: 40px;
}

#conteudoNavbarSuportado ul li {
   border: 1px solid rgba(255, 255, 255, 0.041);
   border-radius: 10px;
   
} #conteudoNavbarSuportado ul li:hover {
    background-color: #2ab6662d;
}

#banner{
    height: 40px;
    user-select: none;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.075);
} #banner, a {
    user-select: none;
    margin: 3px;
}


#validade{
    font-weight: bold;
    text-align: center;
    user-select: none;
} #validade p {
    padding: 5px;
}

#mapa {
    position: fixed;
    right: -14px;
    bottom: 20px;
    border-radius: 12px;
    background-color: var(--cor1);
    cursor: pointer;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.788);
    border: none;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.555);
} #mapa:hover{
    box-shadow: 0px 0px 0px black;
    transform: translate(2px, 2px);
}

#whatsapp {
    position: fixed;
    right: -14px;
    bottom: 70px;
    border-radius: 12px;
    background-color: var(--cor2);
    cursor: pointer;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.788);
    border: none;
    font-weight: bold;
        color: rgba(255, 255, 255, 0.555);
} #whatsapp:hover{
    box-shadow: 0px 0px 0px black;
    transform: translate(2px, 2px);
}


/* FIMHEADER*/

/* MENU */
nav {
    background-color: var(--cor2);

}

menu {
    padding: 15px;
    display: inline-block;
}

ul {
    list-style: none;
    font-size: 1em;
}

li {
    display: inline-block;
    margin-right: 20px;
}

/* FIM  MENU */

/* BODY */
main {
    width: 90vw;
    margin: auto;
}

section#produtos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.itemEncarte {
    width: 140px;
    height: 140px;
    margin: 15px;
    margin-bottom: 65px;
    padding: 5px;
}

.imgProduto {
    width: 90%;
}

.nomeProduto {
    font-weight: 1.1em;
    margin-bottom: 2px;
}

.precoProduto {
    background-color: rgba(255, 255, 0, 0.925);
    border-end-end-radius: 20px;
    font-weight: bold;
    text-align: right;
    font-size: 2em;
    padding-right: 4px;
}

/* FIM BODY */

/* FOOTER */

footer {
    font-size: .8em;
    text-align: center;
    margin-top: 50px;
    color: white;
}