@charset "UTF- 8";

/* TODAS AS DEMAIS MIDIAS*/


@media screen and (min-width: 768px) and (max-width: 992px) {  /*tablet */
    body {
        background: url('../images/back-tablet.jpg');
    }

    #tab {
        display: block;
    } #cel {
        display: none;
    }

    main {
        background-color: rgba(31, 31, 46, 0.296);
    }

    article {
        max-width: 70vw;
        display: block;
        margin: auto;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* desktop */
    body {
        background: url('../images/back-pc.jpg');
    }

    #cel {
        display: none;
    } #pc {
        display: block;
    }

    main {
        background-color: rgba(32, 3, 32, 0.297);
    }

    article {
        max-width: 70vw;
        display: block;
        margin: auto;
    }
}


@media screen and (min-width: 1200px) { /*telas grandes*/
    body {
        background: url('../images/back-tv.jpg');
    }

    #cel {display: none;}
    #tv {display: block;}

    main {
        background-color: rgba(225, 225, 225, 0.103);
    }

    article {
        max-width: 70vw;
        display: block;
        margin: auto;
    }
}