@charset "UTF-8";

@media print {

    * {
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background: url('../images/back-print.jpg');
        font-family: 'Courier New', Courier, monospace;
    }

    header {
        box-shadow: none;
    }

    main > h2 {
        text-shadow: none;
        color: black;
    }

    main {
        box-shadow: none;
        border: 1px solid black;
    }

    main::after {
        content: 'ESSA impressão foi feita por joe.nog';
        font-size: 0.9em;
    }

    ul {
        display: none;
    }
}