@charset "UTF-8";
/*ESTILO PARA IMPRESSORA*/

* {
    padding: 10px;
    margin: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

nav { 
    display: none;
}

article {
    width: 100%;
}

article::after {
    content: 'Esse artigo foi escrito por JOE.NOG em 2020/10/04 às  14:30h';
    font-size: 0.5em;
}