@charset "UTF-8";

* {
    padding: 0px; 
    margin: 0px;
}

html, body {
    min-height: 100vh;  /*  vh para heitht - vw para width  */
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;;
}

header > h1 {
    padding-top: 50px;
    text-transform: small-caps;   /* tenho a opção uppercase */
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;   /*  Assim o conteudo da section se adaptará ao tamanho da tela nas direções da citadas  */
    padding-bottom: 10vh;
    line-height: 1.5em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: darkslategrey;
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.226);
    width: 300px;
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}